html {
    font-size: 62.5%;
}

.main {
    width: 100%;
    margin: auto;
}

.texture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../src/assets/img/paper-texture.png);
    background-size: cover;
    opacity: 1; /* Puedes ajustar la opacidad según tus preferencias */
    z-index: 100; 
    pointer-events: none;
}

.section {
    position: relative; /* Asegura que .texture se posicione dentro de .section */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 60rem;
    margin: auto;
    background-color: #313A57;
}

.column1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.article {
    height: 20rem;
    width: 20rem;
    margin: auto;
    position: relative; /* Agregar la posición relativa al elemento .image */
    
}

.image {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto;
    border: 1px solid #000000;

}

.filter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: 1;
    pointer-events: none;
    background-blend-mode: color;
    mix-blend-mode: color;
}

.f1 {
    background-color: #BCD5B8;
}
.f2 {
    background-color: #F8D294;
}
.f3 {
    background-color: #CDB0CF;
}
.f4 {
    background-color: #873B47;
}
.f5 {
    background-color: #C1E9F6;
}
.f6 {
    background-color: #000000;
}
.f7 {
    background-color: #F8B8D3;
}
.f8 {
    background-color: #E1D3C1;
}
.f9 {
    background-color: #C0A88C;
}

.avatar {
    height: 65rem;
    width: 30rem;
    margin: -5rem 5rem -5rem -5rem;

}
.image--avatar {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative; /* Asegúrate de establecer una posición diferente a 'static' */
    z-index: 2; 
    filter: grayscale(100%);
}
